@model Sagrada.Dominio.Tarjeta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tarjeta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Banco.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banco.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodOperacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodOperacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTarjeta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
