@model Sagrada.Dominio.UsuarioAtendido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UsuarioAtendido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CobroMedico.IdCobroMedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CobroMedico.IdCobroMedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObraSocial.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObraSocial.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HistoriaClinica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistoriaClinica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdUsuarioAtendido }) |
    @Html.ActionLink("Back to List", "Index")
</p>
