@model Sagrada.Dominio.Pago

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medico.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarjeta.IdTarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarjeta.IdTarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPago }) |
    @Html.ActionLink("Back to List", "Index")
</p>
